 <!-- template -->
 <dashboard-layout pageTitle="ListaPrac">

     <div class="form-group">
         <label>Wybierz obiekt:</label>
         <select class="form-control" required>
             <option *ngFor="#s of skUseraList" [value]="s">{{s.skKod}}</option>
         </select>
     </div>

     <div class="listaPrac">

     Test Lista Prac <br>

     <ul class="workers">
      <li *ngFor="#worker of workers">
        <span class="badge">{{worker.prcId}}</span> {{worker.prcNazwisko}}
      </li>
    </ul>

     </div>
</dashboard-layout>
