 <!-- template -->
 <dashboard-layout pageTitle="ListaPrac">

     <div class="form-group">
         <label>Wybierz obiekt:</label>
         <select class="form-control" (change)="onChangeSK($event.target.value)" required>
             <option *ngFor="#s of skUseraList" >{{s.skKod}}</option> <!-- [value]="s" -->
         </select>
     </div>

     <div class="listaPrac">

     Test Lista Prac <br>

     <ul class="workers">
      <li *ngFor="#worker of workers">
        <span class="badge">{{worker.prcId}}</span> {{worker.prcNazwisko}} {{worker.prcImie}}
      </li>
    </ul>

     </div>
</dashboard-layout>
